body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input-button-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center;
  flex-direction: column; /* Default to column for small screens */
  gap: 10px; /* Add gap between input and button */
  width: 100%;
}


input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 40%; /* Use percentage for responsive width */
  max-width: 300;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 30%;
}


button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 90%; /* Use percentage for responsive width */
  max-width: 600px; /* Maximum width for larger screens */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

th, td {
  padding: 15px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #007bff;
  color: #fff;
}

td {
  background-color: #f9f9f9;
}

tr:nth-child(even) td {
  background-color: #f1f1f1;
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
  .input-button-container {
    flex-direction: row; /* Change to row for larger screens */
    width: auto;
  }

  input {
    margin-right: 10px; /* Add margin between input and button */
  }
}
